@using OnlineStore.Models.ViewModels;

@model ProductViewModel

@{ ViewBag.Title = "Product Details"; }

@Html.Partial("_HeaderPartial", @Model.Name)

<section class="about__product">
    <div class="about__product__img">
        <img src="/Products/Image?filename=@Model.Photo" />
    </div>

    <div class="about__product__text">
        <span class="about__product__text__header">@Model.Name</span>

        <span class="about__product__text__price">
            @Model.Price $
        </span>

        <p class="about__product__text__parag">
            @Model.Color <br />
            @Model.Size @Model.SizeUnitMeasureCode <br />
            @Model.Description
        </p>

          @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.Hidden("productId", Model.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="about__product__btn" id="contact__request__btn" value="Купить" />
           }
    </div>
</section>

