@model string

<header class="header">
    <div class="mobile__nav__wrapper">
        <div class="mobile__logo">
            @Html.ActionLink("OnlineStore", "Index", "Home", null, null)
        </div>


        <div class="div__mobile__cart" style="display: flex; align-items: center; justify-content: center;">
            <div class="header__nav__cart" style="margin-right: 20px;">
                <a href="~/Cart/Index/">
                    <img class="cart_icon" src="~/Content/img/icons/shopping-cart.svg">
                </a>
                <span class="cart_total">3</span>
            </div>

            <div class="mobile__burger__menu">
                <!-- Burger-Icon -->
                <div class=" b-container">
                    <div class="b-menu">
                        <div class="b-bun b-bun--top"></div>
                        <div class="b-bun b-bun--mid"></div>
                        <div class="b-bun b-bun--bottom"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="mobile__header__content">

            <div class="mobile__header__content__text">
                <a href="#services">О НАС</a>
                <a href="#request__application">ПРОДУКЦИЯ</a>
                <a href="#contacts">ДОСТАВКА</a>

                <ul class="navbar-nav mr-auto" style="padding-left: 10%; padding-bottom: 20px; margin: 0;">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown__link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            КАТЕГОРИИ
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Bikes", "Category", "Products", new { categoryID = 1 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Components", "Category", "Products", new { categoryID = 2 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Clothing", "Category", "Products", new { categoryID = 3 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Accessories", "Category", "Products", new { categoryID = 4 }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>


    </div>

    <div class="header__nav__wrapper">
        <div class="header__nav__text">
            @Html.ActionLink("OnlineStore", "Index", "Home", null, new { @class = "header__nav__text__link" })

            <div class="nav__text__links" style="display: flex; align-items: center; justify-content: center;">
                <a href="#" class="header__nav__link">О НАС</a>
                <a href="#" class="header__nav__link">
                    ПРОДУКЦИЯ
                </a>
                <a href="#" class="header__nav__link">ДОСТАВКА</a>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle dropdown__link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            КАТЕГОРИИ
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Bikes", "Category", "Products", new { categoryID = 1 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Components", "Category", "Products", new { categoryID = 2 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Clothing", "Category", "Products", new { categoryID = 3 }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Accessories", "Category", "Products", new { categoryID = 4 }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>

            </div>

            <div class="header__nav__cart">
                <a href="~/Cart/Index/">
                    <img class="cart_icon" src="~/Content/img/icons/shopping-cart.svg">
                </a>
                <span class="cart_total">0</span>
            </div>

            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="header__img" style="
        height: 310px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        ">
        <div class="header__img__text h1__margin__none" style="display: flex; align-items: center; justify-content: center;">
            <h1 class="header__img__text__h1" style="margin: 0px;">@Model</h1>
        </div>
    </div>
</header>