<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - OnlineStore Application</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")

</head>
<body>
    <div class="page">

        @RenderBody()

        @Html.Partial("FooterPartial")

    </div>


    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/bundles/jquery")

    <script>
        $(document).ready(function () {

            $('.cart_total').load('@Url.Action("ComputeTotalQuantity", "Cart")')

        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
