@using OnlineStore.Models.ViewModels;

@model ShippingDetailsViewModel

@{
    ViewBag.Title = "Checkout";
}

@Html.Partial("HeaderPartial", "Оформить заказ ")

<div class="form__order">

    <p>Пожалуйста введи ваши контактные данные, и мы сразу отправим товар!</p>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary();
        <h3>Данные</h3>
        <div class="form-group">
            <label>Имя:</label>
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Отчество:</label>
            @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Фамилия:</label>
            @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <label>Телефон:</label>
            @Html.TextBoxFor(x => x.MobilePhone, new { @class = "form-control", @type = "tel" })
        </div>

        <div class="form-group">
            <label>Email:</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email" })
        </div>

        <h3>Адрес доставки</h3>
        <div class="form-group">
            <label>Первый адрес:</label>
            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Город:</label>
            @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Страна:</label>
            @Html.DropDownListFor(m => m.Country,
            new SelectList(Enum.GetValues(typeof(Country))),
            "Select Country",
            new { @class = "form-control" })
        </div>

        <div class="text-right">
            <input class="btn btn-primary" type="submit" value="Обработать заказ" />
        </div>
    }
</div>
