@using OnlineStore.Models.ViewModels;
@model CartIndexViewModel

@{
    ViewBag.Title = "Cart";
}


@Html.Partial("_HeaderPartial", "Корзина")

<div class="table-responsive table-striped" style="width: 80%;margin: 150px auto;display: flex;flex-direction: column;justify-content: space-between;">
    <table class="table">
        <thead>
            <tr>
                <th>Кол-во</th>
                <th>Изображение</th>
                <th>Продукт</th>
                <th class="text-right">Цена</th>
                <th class="text-right">Общая цена</th>
                <th class="text-right"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Cart.Lines())
            {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-center">
                        @if(line.Product.Photo != null)
                        {
                        <img border=3 height=50 width=100 src="/Products/Image?filename=@line.Product.Photo" />
                        }
                    </td>
                    <td class="text-left">@line.Product.Name</td>
                    <td class="text-right">@line.Product.Price$</td>
                    <td class="text-right">
                        @(line.Quantity * line.Product.Price)$
                    </td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Post, new { @class = "text-right" }))
                        {
                            @Html.Hidden("productId", line.Product.ProductID)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input class="btn btn-sm btn-outline-warning" type="submit" value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-right" style="font-weight: 700;">Итого:</td>
                <td class="text-right" style="font-weight: 700;">
                    @Model.Cart.ComputeTotalValue()$
                </td>
            </tr>
        </tfoot>
    </table>


    <div class="text-center" style="margin-top: 80px;">
        <a class="btn btn-sm btn-outline-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
        @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-sm btn-success" })
    </div>

</div>


