@using Microsoft.AspNet.Identity
@model OnlineStore.Models.IndexViewModel


@{
    ViewBag.Title = "Управление";
}

@Html.Partial("_HeaderPartial", "Управление")

<p class="text-success">@ViewBag.StatusMessage</p>
<div style="width: 40%; margin: 90px auto;">
    <h4>Изменение параметров учетной записи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Пароль:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Смена пароля", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Создать", "SetPassword")
            }
            ]
        </dd>
        <dt>Внешние имена входа:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Управление", "ManageLogins") ]
        </dd>

        </dd>
    </dl>

    @if (User.IsInRole("manager"))
    {
        <h4>Перейти к подтверждению заказов</h4>
        <hr />
        <a href="~/SalesPerson/">Перейти к подтверждению заказов</a>

        <h4 style="margin-top: 20px;">Просмотреть все заказы</h4>
        <hr />
        <a href="~/SalesPerson/AllOrderHeaders/">Просмотреть все заказы</a>
    }

    @if (User.IsInRole("user"))
    {
        <h4 style="margin-top: 20px;">Просмотреть ваши заказы</h4>
        <hr />

        @Html.ActionLink("Просмотреть ваши заказы", "Index", "Client", new { clientId = @User.Identity.GetUserId() }, new { })
    }

</div>
