@using OnlineStore.Models.ViewModels;

@model IEnumerable<ProductViewModel> 

@{ ViewBag.Title = "Home"; }

<header class="header">

    @Html.Partial("HeaderPartial")

    <div class="header__img">
        <div class="header__img__text">
            <h1>Товары для всех!</h1>
            <span>Разнообразный и богатый опыт рамки и место обучения кадров,</span>
            <span>позволяет оценить значение систем массового участия.</span>

            <div class="header__img__request__btn">
                <button class="header__img__btn__1"><a href="#">ПРОДУКЦИЯ</a></button>
            </div>
        </div>
    </div>
</header>

<section class="products" id="products">
    <div class="products__text">
       <h2>Продукция</h2>
    </div>

    <div class="products__content">
         @foreach (var item in Model)
         {
            <div class="product__content__block">
                @if (item.Photo != null)
                {
                    <img src="/Products/Image?filename=@item.Photo" />
                }
                <span class="product__content__block__header">@item.Name</span>
                <p>@item.Description Color: @item.Color</p>

                <div class="product__items__block__price__order">
                    <span class="product__items__block__price">@item.Price $</span>

                    @Html.ActionLink("Заказать", "Details", "Products", new { id = @item.ProductID }, new { @class = "product__items__block__order" })
                </div>
            </div>
         }
    </div>


    <div class="product__button">
        <button type="submit" class="product__button__btn">
            <a href="~/Products/Index/">
                ВСЯ ПРОДУКЦИЯ <img src="~/Content/img/icons/arrow_right.svg" alt="arrow_right">
            </a>
        </button>
    </div>

</section>

